{% extends 'basic.html' %}
{% block title %}
    Register Page
{% endblock %}
{% block nav %}
<div class="container" align="center">
    <h1 style="color:green">Register Page</h1>
</div>
{% endblock %}

{% block content %}
<div class="continer" align="center">
    <div class="card" style="width: 40rem;">
         <div class="card-body">
             <h5 class="card-title">Enter Your Details Here</h5>
             {{login}}
              <form method="post">
                  {% csrf_token %}
                   <input type="text" name="tbusername" class="form-control" placeholder="Enter Your UserName" style="text-align:center"><br>
                  <input type="text" name="tbemail" class="form-control" placeholder="Enter Your Email" style="text-align:center"><br>
                  <input type="password" name="tbpass1" class="form-control" placeholder="Enter Password" style="text-align:center"><br>
                  <input type="password" name="tbpass2" class="form-control" placeholder="Enter Confirm Password" style="text-align:center"><br>
                  <input type="submit" value="Register" class="form-control btn btn-secondary"><br>
              </form>
             <a href="{% url 'login' %}" class="btn btn-outline-success">Already Registered Click here to Login</a>
         </div>
    </div>
</div>
{% endblock %}